<template>
    <div>
        <h1 class="page-header">Edit Password</h1>
            <edit-password-form></edit-password-form>
        </div>
    </div>
</template>

<script>
    import EditPasswordForm from './../edit-password/EditPasswordForm.vue'

    export default {
        name: 'edit-password',
        components: {
            EditPasswordForm
        }
    }
</script>
