<template>
    <el-container>
        <el-header class="main-header">
            <top-menu></top-menu>
        </el-header>
        <el-container>
            <el-aside class="side-menu" width="250px"><side-menu></side-menu></el-aside>
            <el-main>
                <notification></notification>
                <transition name="fade" mode="out-in">
                    <router-view></router-view>
                </transition>
            </el-main>
        </el-container>
    </el-container>
</template>

<script>
    import TopMenu from './shared/TopMenu.vue'
    import SideMenu from './shared/SideMenu.vue'
    import Notification from './shared/Notification.vue'
    import AppFooter from './shared/AppFooter.vue'
    import jwtToken from './../helpers/jwt-token'

    export default {
        name: 'app',
        created() {
            if(jwtToken.getToken()) {
                this.$store.dispatch('setAuthUser');
            }
        },
        components: {
            TopMenu,
            Notification,
            AppFooter,
            SideMenu
        }
    }
</script>
<style>

    @media (min-width: 768px) {
        .container {
            width: 60%;
        }
    }

    @media (min-width: 992px) {
        .container {
            width: 80%;
        }
    }

    @media (min-width: 1200px) {
        .container {
            width: 100%;
        }
    }
    .main-header {
        padding: 0px !important;
    }
</style>
