<template>
    <el-row>
        <el-col :span="24">
            <h1 class="page-header">Members List</h1>
        </el-col>
        <el-col :span="24" v-if="loading">
            <h3 class="text-center"><i class="el-icon-loading"></i> Loading content...</h3>
        </el-col>
        <el-col :span="24" v-else>
            <el-col :span="6" class="members-filters">
                <el-select v-model="per_page"
                           @change="filterMembers"
                           placeholder="Select">
                    <el-option
                            v-for="item in per_page_options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="12" class="members-filters"></el-col>
            <el-col :span="6" class="members-filters">
                <el-input
                        placeholder="Search Name, ID"
                        v-model="search"
                        @change="filterMembers">
                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                </el-input>
            </el-col>
            <el-table
                    :data="members"
                    stripe
                    style="width: 100%">
                <el-table-column
                        type="expand">
                    <template slot-scope="scope">
                        <employee-leave-record :id="scope.row.user_id"></employee-leave-record>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="employee_id"
                        label="ID No.">
                </el-table-column>
                <el-table-column
                        prop="full_name"
                        label="Name">
                </el-table-column>
                <el-table-column
                        prop="status"
                        label="Status">
                </el-table-column>
                <el-table-column
                        label="Action"
                        width="100">
                    <template slot-scope="scope">
                        <el-tooltip  class="item" effect="dark" content="Request Leave (In behalf)" placement="bottom">
                            <router-link :to="{name: 'leave.requestLeaveInBehalf', params: { id: scope.row.user_id }}"
                                         exact>
                                <i class="fa fa-rocket text-primary"></i>
                            </router-link>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    background
                    layout="total, prev, pager, next"
                    :total="pagination.total"
                    class="pull-right"
                    @current-change="paginationCurrentChange"
                    :page-size="pagination.per_page"
                    :current-page="pagination.current_page"
                    v-if="pagination.total > pagination.per_page"
            >
            </el-pagination>
        </el-col>
    </el-row>
</template>
<script>
    import {mapState} from 'vuex'
    import EmployeeLeaveRecord from './EmployeeLeaveRecord.vue'

    export default {
        name: 'employees-list',
        data () {
            return {
                loading: true,
                per_page_options: [{
                    value: '10',
                    label: '10'
                }, {
                    value: '25',
                    label: '25'
                }, {
                    value: '50',
                    label: '50'
                }, {
                    value: '100',
                    label: '100'
                }
                ],
                per_page: 10,
                search: ''
            }
        },
        components: {
            EmployeeLeaveRecord
        },
        beforeCreate() {
            this.$store.dispatch('getMembers', { page: this.$route.query.page })
        },
        computed: {
            ...mapState({
                members: state => state.employee.members,
                pagination: state => state.employee.pagination
            })
        },
        watch: {
            members: function () {
                this.loading = false
            }
        },
        methods: {
            paginationCurrentChange(current) {
                this.$router.push({ path: this.$route.path, query: { page: current } })
                this.$store.dispatch('getMembers', { page: this.$route.query.page, keyword: this.search })
            },
            filterMembers () {
                var filters = {
                    page: 1,
                    limit: this.per_page,
                    keyword: this.search
                }

                this.$store.dispatch('getMembers', filters)
            }
        }
    }
</script>
<style>
    .members-filters {
        padding: 10px !important;
    }
</style>