<template>
    <el-container>
        <transition name="fade" mode="in-out">
            <el-row style="width: 100%">
                <el-col :span="24" v-if="loading_leave_credits">
                    <h4 class="text-center"><i class="el-icon-loading"></i> Getting leave credits...</h4>
                </el-col>
                <el-col :span="24" v-else>
                    <el-col :span="6">
                        <strong>Available VL:</strong> {{ leave_credits[0].available }}<br>
                        <strong>Used VL:</strong> {{ leave_credits[0].used }}<br>
                        <strong>Remaining VL:</strong> {{  leave_credits[0].remaining }}<br>
                    </el-col>
                    <el-col :span="6">
                        <strong>Available SL:</strong> {{ leave_credits[1].available }}<br>
                        <strong>Used SL:</strong> {{ leave_credits[1].used }}<br>
                        <strong>Remaining SL:</strong> {{ leave_credits[1].remaining }}<br>
                    </el-col>
                    <el-col :span="6">
                        <strong>Maternity Leave:</strong> {{ leave_credits[2].used }}<br>
                        <strong>Paternity Leave:</strong> {{ leave_credits[3].used }}<br>
                        <strong>Bereavement Leave:</strong> {{ leave_credits[4].used }}<br>
                    </el-col>
                    <el-col :span="6">
                        <strong>LWOP:</strong> {{ leave_credits[5].used }}<br>
                        <strong>Undertime:</strong> {{ leave_credits[6].used }}<br>
                    </el-col>
                </el-col>
                <el-col :span="24">
                    <el-tabs v-model="active_tab">
                        <el-tab-pane label="Approved" name="approved">
                            <leave-list-template :items="approved_requests" :type="type_approved"></leave-list-template>
                        </el-tab-pane>
                        <el-tab-pane label="Pending" name="pending">
                            <leave-list-template :items="pending_requests" :type="type_pending"></leave-list-template>
                        </el-tab-pane>
                        <el-tab-pane label="Disapproved" name="disapproved">
                            <leave-list-template :items="disapproved_requests" :type="type_disapproved"></leave-list-template>
                        </el-tab-pane>
                        <el-tab-pane label="Cancelled" name="cancelled">
                            <leave-list-template :items="cancelled_requests" :type="type_cancelled"></leave-list-template>
                        </el-tab-pane>
                    </el-tabs>
                </el-col>
            </el-row>
        </transition>
    </el-container>
</template>
<script>
    import {mapState, mapActions} from 'vuex';
    import * as api from './../../config';
    import LeaveListTemplate from './LeaveListTemplate.vue';
    import LeaveCreditsTemplate from './LeaveCreditsTemplate.vue';

    export default {
        name: 'employee-leave-details',
        data: function () {
            return {
                leave_credits: [],
                pending_requests: [],
                approved_requests: [],
                disapproved_requests: [],
                cancelled_requests: [],
                active_tab: 'approved',
                type_approved: 'approved',
                type_pending: 'pending',
                type_disapproved: 'disapproved',
                type_cancelled: 'cancelled',
                loading_leave_credits: true
            }
        },
        props: [
            'id'
        ],
        components: {
            LeaveListTemplate,
            LeaveCreditsTemplate
        },
        created () {
            this.getLeaveCreditsByUser()
            this.getPendingRequestByUser()
            this.getApprovedRequestByUser()
            this.getDisapprovedRequestByUser()
            this.getCancelledRequestByUser()
        },
        watch: {
            leave_credits: function () {
                this.loading_leave_credits = false
            }
        },
        methods: {
            getLeaveCreditsByUser: function () {
                axios.get(api.leaveCredits, {
                    params: { user_id: this.id }
                })
                .then(response => {
                    this.leave_credits = response.data
                })
                .catch(error => {

                })
            },
            getPendingRequestByUser: function () {
                axios.get(api.leaveRequests, {
                    params: {
                        user_id: this.id,
                        leave_status: '1,2'
                    }
                })
                .then(response => {
                    this.pending_requests = response.data.data
                })
                .catch(error => {

                })
            },
            getApprovedRequestByUser: function () {
                axios.get(api.leaveRequests, {
                    params: {
                        user_id: this.id,
                        leave_status: 3
                    }
                })
                    .then(response => {
                        this.approved_requests = response.data.data
                    })
                    .catch(error => {

                    })
            },
            getDisapprovedRequestByUser: function () {
                axios.get(api.leaveRequests, {
                    params: {
                        user_id: this.id,
                        leave_status: 4
                    }
                })
                    .then(response => {
                        this.disapproved_requests = response.data.data
                    })
                    .catch(error => {

                    })
            },
            getCancelledRequestByUser: function () {
                axios.get(api.leaveRequests, {
                    params: {
                        user_id: this.id,
                        leave_status: 5
                    }
                })
                    .then(response => {
                        this.cancelled_requests = response.data.data
                    })
                    .catch(error => {

                    })
            }
        }
    }
</script>
<style>
    .el-popover__reference {
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
</style>