<template>
    <el-col :span="24" v-if="loading">
        <h3 class="text-center"><i class="el-icon-loading"></i> Loading content...</h3>
    </el-col>
    <el-col :span="24" v-else>

    </el-col>
</template>
<script>
    export default {
        name: 'leave-credits-template',
        data: function () {
            return {
                loading: true
            }
        },
        props: [
            'items'
        ],
        watch: {
            items: function () {
                this.loading = false
            }
        }
    }
</script>