<template>
    <el-col :span="24" v-if="loading">
        <h4 class="text-center"><i class="el-icon-loading"></i> Getting {{ type }} leaves...</h4>
    </el-col>
    <el-table v-else
            :data="items"
            stripe
            style="width: 100%">
        <el-table-column
                prop="date_added"
                label="Date Added">
        </el-table-column>
        <el-table-column
                prop="leave_type_name"
                label="Type">
        </el-table-column>
        <el-table-column
                prop="date_from"
                label="From">
        </el-table-column>
        <el-table-column
                prop="date_to"
                label="To">
        </el-table-column>
        <el-table-column
                prop="duration"
                label="Duration">
        </el-table-column>
        <el-table-column
                prop="remarks"
                label="Remarks">
            <template slot-scope="scope">
                <el-popover
                        placement="bottom"
                        width="300"
                        trigger="hover">
                    {{ scope.row.remarks }}
                    <span slot="reference">{{ scope.row.remarks }}</span>
                </el-popover>
            </template>
        </el-table-column>
        <el-table-column
                v-if="show_status_column"
                prop="status"
                label="Status">
        </el-table-column>
        <!--<el-table-column
                label="Action"
                right
                width="150">
            <template slot-scope="scope">
                <router-link :to="{name: 'leave.editLeave', params: { id: scope.row.id }}"
                             v-if="scope.row.editable"
                             title="Edit Leave"
                             exact>
                    <i class="fa fa-pencil"></i>
                </router-link>
                <a v-if="scope.row.editable"
                   href="#"
                   title="Cancel Leave"
                   @click.prevent="showCancelRequestForm(scope.row)"
                   exact>
                    <i class="fa fa-undo text-warning"></i>
                </a>
            </template>
        </el-table-column>-->
    </el-table>
</template>
<script>
    export default {
        name: 'leave-list-template',
        data: function () {
            return {
                loading: true,
                show_status_column: false
            }
        },
        props: [
            'items',
            'type'
        ],
        watch: {
            items: function () {
                this.loading = false
                if (this.type === 'pending') {
                    this.show_status_column = true
                } else {
                    this.show_status_column = false
                }
            }
        },
        methods: {

        }
    }
</script>
<style>
    .el-table--scrollable-y .is-scroll-left {
        overflow: auto !important;
    }
</style>