<template>
    <el-row>
        <el-col :span="24">
            <h1 class="page-header">Team's Pending Requests</h1>
        </el-col>
        <el-col :span="24" v-if="loading">
            <h3 class="text-center"><i class="el-icon-loading"></i> Loading content...</h3>
        </el-col>
        <el-col :span="24" v-else>
            <el-col :span="6" class="leave-requests-filters">
                <el-select v-model="per_page"
                           @change="filterRequests"
                           placeholder="Select">
                    <el-option
                            v-for="item in per_page_options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="8" class="leave-requests-filters">
                <el-date-picker
                        v-model="date_filter"
                        type="daterange"
                        align="right"
                        unlink-panels
                        range-separator="To"
                        start-placeholder="Start date"
                        end-placeholder="End date"
                        :picker-options="pickerOptions"
                        class="pull-right"
                        value-format="yyyy-MM-dd">
                </el-date-picker>
            </el-col>
            <el-col :span="6" class="leave-requests-filters">
                <el-select v-model="leave_type"
                           clearable
                           placeholder="Select Leave Type"
                           class="leave-types-select pull-right">
                    <el-option
                            v-for="item in leave_types"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="4" class="leave-requests-filters">
                <el-button type="primary" @click.prevent="filterRequests" :loading="filtering" class="pull-right">Filter</el-button>
            </el-col>
            <el-col :span="24" class="leave-request-filters" style="padding-bottom: 10px;">
                <el-button-group>
                    <el-tooltip class="item" effect="dark" content="Approve Selected Requests" placement="bottom">
                        <el-button
                                type="primary"
                                @click.prevent="showRequestActionForm('', 'approve', 'multiple')"
                                :disabled="disable_multiple_selection_buttons">
                            <i class="fa fa-thumbs-o-up"></i>
                        </el-button>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" content="Disapprove Selected Requests" placement="bottom">
                        <el-button
                                type="danger"
                                @click.prevent="showRequestActionForm('', 'disapprove', 'multiple')"
                                :disabled="disable_multiple_selection_buttons">
                            <i class="fa fa-thumbs-o-down"></i>
                        </el-button>
                    </el-tooltip>
                    <el-tooltip class="item" effect="dark" content="Cancel Selected Requests" placement="bottom">
                        <el-button
                                type="warning"
                                @click.prevent="showRequestActionForm('', 'cancel', 'multiple')"
                                :disabled="disable_multiple_selection_buttons">
                            <i class="fa fa-ban"></i>
                        </el-button>
                    </el-tooltip>
                </el-button-group>
            </el-col>
            <el-table
                    :data="requests"
                    stripe
                    @selection-change="handleSelectionChange"
                    style="width: 100%">
                <el-table-column
                        type="selection"
                        width="55"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="full_name"
                        label="Name">
                </el-table-column>
                <el-table-column
                        prop="leave_type_name"
                        label="Type"
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="date_from"
                        label="From"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="date_to"
                        label="To"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="duration"
                        label="Duration"
                        width="120">
                </el-table-column>
                <el-table-column
                        prop="date_added"
                        label="Date Added"
                        width="120">
                </el-table-column>
                <el-table-column
                        prop="remarks"
                        label="Remarks">
                    <template slot-scope="scope">
                        <el-popover
                                placement="bottom"
                                title="Remarks"
                                width="200"
                                trigger="hover">
                            {{ scope.row.remarks }}
                            <span slot="reference">{{ scope.row.remarks }}</span>
                        </el-popover>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Action"
                        width="70">
                    <template slot-scope="scope">
                        <el-tooltip class="item" effect="dark" content="Approve Request" placement="bottom">
                            <a href="#"
                               @click.prevent="showRequestActionForm(scope.row, 'approve', 'single')"
                               exact>
                                <i class="fa fa-thumbs-o-up text-success"></i>
                            </a>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="Disapprove Requests" placement="bottom">
                            <a href="#"
                               @click.prevent="showRequestActionForm(scope.row, 'disapprove', 'single')"
                               exact>
                                <i class="fa fa-thumbs-o-down text-danger"></i>
                            </a>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="Cancel Requests" placement="bottom">
                            <a href="#"
                               @click.prevent="showRequestActionForm(scope.row, 'cancel', 'single')"
                               exact>
                                <i class="fa fa-ban text-warning"></i>
                            </a>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    background
                    layout="total, prev, pager, next"
                    :total="pagination.total"
                    class="pull-right"
                    @current-change="paginationCurrentChange"
                    :page-size="pagination.per_page"
                    :current-page="pagination.current_page"
                    v-if="pagination.total > pagination.per_page"
            >
            </el-pagination>
        </el-col>
        <el-dialog
                :title="action_dialog_title"
                :visible.sync="show_action_dialog"
                width="30%"
                @close="clearDialog">
            <span v-html="action_dialog_msg"></span><br>
            <el-input
                    type="textarea"
                    :rows="3"
                    placeholder="Please add your remarks here..."
                    resize="false"
                    v-model="action_remarks"
                    required>
            </el-input>
            <em v-if="empty_remarks" class="text-danger">Please add your remarks</em>
            <span slot="footer" class="dialog-footer">
                <el-button @click="clearDialog">Cancel</el-button>
                <el-button type="primary" :loading="submitting" @click="submitRequestAction">Confirm</el-button>
            </span>
        </el-dialog>
    </el-row>
</template>
<script>
    import {mapState} from 'vuex'

    export default {
        name: 'members-pending-leaves',
        data () {
            return {
                loading: true,
                date_filter: '',
                pickerOptions: {
                    shortcuts: [{
                        text: 'Last week',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last month',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last 3 months',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                per_page_options: [{
                    value: '10',
                    label: '10'
                }, {
                    value: '25',
                    label: '25'
                }, {
                    value: '50',
                    label: '50'
                }, {
                    value: '100',
                    label: '100'
                }
                ],
                per_page: 10,
                leave_type: '',
                filtering: false,
                selected_request: '',
                submitting: false,
                show_action_dialog: false,
                empty_remarks: false,
                multiple_selection: [],
                disable_multiple_selection_buttons: true,
                request_action: '',
                action_dialog_title: '',
                action_dialog_msg: '',
                action_remarks: '',
                selection_type: 'single'
            }
        },
        beforeCreate() {
            this.$store.dispatch('getMembersPendingList', { page: this.$route.query.page })
            this.$store.dispatch('getLeaveTypes')
        },
        computed: {
            ...mapState({
                requests: state => state.employee.pending_requests,
                leave_types: state => state.leaveType.leave_types,
                pagination: state => state.employee.pagination
            })
        },
        watch: {
            requests: function () {
                this.loading = false
                this.filtering = false
            }
        },
        methods: {
            paginationCurrentChange(current) {
                this.$router.push({ path: this.$route.path, query: { page: current } })
                this.$store.dispatch('getMembersPendingList', { page: current })
            },
            filterRequests () {
                this.filtering = true
                var filters = {
                    page: 1,
                    limit: this.per_page
                }

                if (this.date_filter !== '') {
                    filters.date_filter = this.date_filter
                }

                if (this.leave_type !== '') {
                    filters.leave_type = this.leave_type
                }

                this.$store.dispatch('getMembersPendingList', filters)
            },
            clearDialog () {
                this.selected_request = ''
                this.empty_remarks = false
                this.submitting = false
                this.show_action_dialog = false
                this.request_action = ''
                this.action_dialog_msg = ''
                this.action_dialog_title = ''
                this.action_remarks = ''
            },
            showRequestActionForm (request, action, type) {
                console.log(request)
                this.show_action_dialog = true
                this.selected_request = request
                this.empty_remarks = false
                this.request_action = action
                this.selection_type = type
                if (action === 'approve') {
                    this.action_dialog_title = 'Approve Request'
                    this.action_dialog_msg = (type === 'single') ? 'Are you sure you want to approve the request?' : 'Are you sure you want to approve the selected requests?'
                }
                if (action === 'disapprove') {
                    this.action_dialog_title = 'Disapprove Request'
                    this.action_dialog_msg = (type === 'single') ? 'Are you sure you want to disapprove the request?' : 'Are you sure you want to disapprove the selected requests?'
                }
                if (action === 'cancel') {
                    this.action_dialog_title = 'Cancel Request'
                    this.action_dialog_msg = (type === 'single') ? 'Are you sure you want to cancel the request?' : 'Are you sure you want to cancel the selected requests?'
                }
            },
            submitRequestAction () {
                if (this.action_remarks.trim() !== '') {
                    this.submitting = true
                    const form_data = {
                        id: (this.selection_type === 'single') ? [this.selected_request.id] : this.multiple_selection,
                        action: this.request_action,
                        remarks: this.action_remarks
                    }
                    this.$store.dispatch('postChangeRequestStatus', form_data)
                        .then((response) => {
                            this.clearDialog()
                            this.filterRequests()
                        })
                        .catch((error) => {

                        })
                } else {
                    this.empty_remarks = true
                }
            },
            handleSelectionChange (requests) {
                this.multiple_selection = []
                for (var i in requests) {
                    this.multiple_selection.push(requests[i].id)
                }
                if (this.multiple_selection.length > 1) {
                    this.disable_multiple_selection_buttons = false
                } else {
                    this.disable_multiple_selection_buttons = true
                }
            }
        }
    }
</script>
<style>
    .el-date-editor--daterange.el-input__inner {
        width: 100% !important;
    }
    .leave-requests-filters {
        padding: 10px !important;
    }
    .leave-requests-filters .el-select.leave-types-select {
        width: 100% !important;
    }
    .el-popover__reference {
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
</style>