<template>
    <div class="notification">
        <transition name="fade" mode="in-out">
            <el-alert
                    :title="success"
                    type="success"
                    v-if="success"
                    show-icon>
            </el-alert>
            <el-alert
                    :title="error"
                    type="error"
                    v-if="error"
                    show-icon>
            </el-alert>
            <el-alert
                    :title="info"
                    type="info"
                    v-if="info"
                    show-icon>
            </el-alert>
        </transition>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';

    export default {
        name: 'notification',
        computed: {
            ...mapState({
                success: state => state.notification.success,
                error: state => state.notification.error,
                info: state => state.notification.info
            })
        },
        methods: {
            ...mapActions([
                'hideSuccessNotification',
                'hideErrorNotification',
                'hideInfoNotification'
            ])
        }
    }
</script>
<style>
    .el-alert__title {
        font-size: 14px !important;
        line-height: 23px !important;
    }
    .el-alert__closebtn {
        top: 20px !important;
    }
    .el-alert {
        padding: 15px;
    }
</style>