<template>
    <el-row v-if="user.authenticated">
        <el-col :span="24">
            <el-menu
                    :default-active="active_menu"
                    class="el-menu-vertical-demo"
                    @open="handleOpen"
                    @close="handleClose"
                    background-color="#409EFF"
                    text-color="#fff"
                    active-text-color="#ffd04b">
                <el-submenu index="1">
                    <template slot="title">
                        <i class="fa fa-user fa-lg-custom"></i>
                        <span>Profile</span>
                    </template>
                    <el-menu-item index="1-1">
                        <i class="fa fa-wpexplorer fa-lg-custom"></i>
                        <router-link :to="{name: 'profile'}" exact>View Profile</router-link>
                    </el-menu-item>
                    <el-menu-item index="1-2">
                        <i class="fa fa-lock fa-lg-custom"></i>
                        <router-link :to="{name: 'profile.editPassword'}" exact>Edit Password</router-link>
                    </el-menu-item>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title">
                        <i class="fa fa-plane fa-lg-custom"></i>
                        <span>Leaves</span>
                    </template>
                    <el-menu-item index="2-1">
                        <i class="fa fa-list-alt fa-lg-custom"></i>
                        <router-link :to="{name: 'leave.myLeaveCredits'}" exact>Leave Credits</router-link>
                    </el-menu-item>
                    <el-menu-item index="2-2">
                        <i class="fa fa-rocket fa-lg-custom"></i>
                        <router-link :to="{name: 'leave.requestLeave'}" exact>Request Leave</router-link>
                    </el-menu-item>
                    <el-menu-item index="2-3">
                        <i class="fa fa-hourglass-start fa-lg-custom"></i>
                        <router-link :to="{name: 'leave.pendingLeaves', query: { page: 1 }}" exact>Pending Requests</router-link>
                    </el-menu-item>
                    <el-menu-item index="2-4">
                        <i class="fa fa-thumbs-up fa-lg-custom"></i>
                        <router-link :to="{name: 'leave.approvedLeaves', query: { page: 1 }}" exact>Approved Requests</router-link>
                    </el-menu-item>
                    <el-menu-item index="2-5">
                        <i class="fa fa-thumbs-down fa-lg-custom"></i>
                        <router-link :to="{name: 'leave.disapprovedLeaves', query: { page: 1 }}" exact>Disapproved Requests</router-link>
                    </el-menu-item>
                    <el-menu-item index="2-6">
                        <i class="fa fa-undo fa-lg-custom"></i>
                        <router-link :to="{name: 'leave.cancelledLeaves', query: { page: 1 }}" exact>Cancelled Requests</router-link>
                    </el-menu-item>
                </el-submenu>
                <el-submenu index="3">
                    <template slot="title">
                        <i class="fa fa-users fa-lg-custom"></i>
                        <span>Team</span>
                    </template>
                    <el-menu-item index="3-1">
                        <i class="fa fa-address-book fa-lg-custom"></i>
                        <router-link :to="{name: 'team.membersList'}" exact>Members</router-link>
                    </el-menu-item>
                    <el-menu-item index="3-2">
                        <i class="fa fa-hourglass-start fa-lg-custom"></i>
                        <router-link :to="{name: 'team.pendingLeaves'}" exact>Pending Requests</router-link>
                    </el-menu-item>
                </el-submenu>
                <el-menu-item index="4" v-if="user.authenticated">
                    <template slot="title">
                        <i class="fa fa-calendar fa-lg-custom"></i>
                        <span>Calendar</span>
                    </template>
                </el-menu-item>
                <el-menu-item index="5" v-if="user.authenticated">
                    <a class="nav-link" href="#" @click.prevent="logout">
                        <i class="fa fa-sign-out fa-lg-custom"></i>
                        <a class="nav-link" href="#" @click.prevent="logout">Logout</a>
                    </a>
                </el-menu-item>
            </el-menu>
        </el-col>
    </el-row>
</template>
<script>
    import {mapState} from 'vuex';

    export default {
    	name: 'side-menu',
        data () {
    	    return {
    	        active_menu: '',
                profile_menu: [
                    'profile',
                    'profile.editPassword'
                ],
    	        leave_menu: [
    	            'leave.myLeaveCredits',
                    'leave.requestLeave',
                    'leave.pendingLeaves',
                    'leave.approvedLeaves',
                    'leave.disapprovedLeaves',
                    'leave.cancelledLeaves',
                    'leave.editLeave',
                    'leave.requestLeaveInBehalf'
                ],
                team_menu: [
                    'team.membersList',
                    'team.pendingLeaves'
                ]
            }
        },
        computed: {
            ...mapState({
                user: state => state.authUser
            })
        },
        created () {
    	    var menu_name = this.$route.name
            if (this.profile_menu.indexOf(menu_name) !== -1) {
                this.active_menu = 1 + '-' + (this.profile_menu.indexOf(menu_name) + 1)
            } else if (this.leave_menu.indexOf(menu_name) !== -1) {
                if (menu_name === 'leave.editLeave' || menu_name === 'leave.requestLeaveInBehalf') {
                    this.active_menu = '2-2'
                } else {
                    this.active_menu = 2 + '-' + (this.leave_menu.indexOf(menu_name) + 1)
                }
            } else if (this.team_menu.indexOf(menu_name) !== -1) {
                this.active_menu = 3 + '-' + (this.team_menu.indexOf(menu_name) + 1)
            }
        },
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            logout() {
                this.$store.dispatch('logoutRequest')
                    .then(() => {
                        this.$router.push({name: 'login'});
                    });
            }
        }
    }
</script>