<template>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <el-row>
                <el-col :span="12">
                    <router-link class="navbar-brand" :to="{name: 'index'}" v-once>{{ siteName }}</router-link>
                </el-col>
                <el-col :span="12"></el-col>
            </el-row>
        </div>
    </nav>
</template>

<script>
    import {siteName} from './../../config';
    import {mapState} from 'vuex';

    export default {
        name: 'top-menu',
        data() {
            return {
                siteName: siteName
            }
        },
        computed: {
            ...mapState({
                user: state => state.authUser
            })
        },
        methods: {
            showRequestLeaveDialog() {
                this.$store.dispatch('showRequestLeaveDialog')
            }
        }
    }
</script>
<style>
    .navbar .el-menu--horizontal {
        border-bottom: none;
    }
</style>
