// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html {
  height: 100% !important;
}

body {
  overflow-y: scroll;
  height: 100% !important;
  #app {
    height: 100% !important;

    section.el-container {
      height: 100% !important;

      aside.side-menu {
        height: 100% !important;

        .el-row {
          height: 100% !important;

          .el-col {
            height: 100% !important;

            .el-menu {
              height: 100% !important;
            }
          }
        }
      }
    }
  }
}
.navbar {
  margin-bottom: 0;
}
.notification {
  margin-bottom: 22px;

  .alert {
    border-radius: 0;
    cursor: pointer;
  }
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.page-header {
  margin-top: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}

.fa-lg-custom {
  font-size: 1.5em !important;
  margin-right: 5px !important;
  width: 24px !important;
  text-align: center !important;
}

.el-menu-item {
  a {
    color: #fff !important;
    text-decoration: none !important;
  }
}

.navbar {
  height: 60px !important;
  background: #409EFF !important;

  .navbar-brand {
    line-height: 30px !important;
    color: #fff !important;
  }
}
.el-popover__reference {
  i {
    cursor: pointer;
  }
}

.el-menu-item.is-active {
  a, i {
    color: #ffd04b !important;
  }
}

.el-submenu__title i, .el-menu-item i {
  color: #fff !important;
}

.panel {
  padding: 15px !important;
}

.el-table__body-wrapper {
  overflow: hidden !important;
}

table tr.expanded td {
  background-color: #c0dfff !important;
}