<template>
    <el-row>
        <el-col :span="24">
            <h1 class="page-header">Edit Leave</h1>
        </el-col>
        <el-col :span="24" v-if="loading">
            <h3 class="text-center"><i class="el-icon-loading"></i> Loading content...</h3>
        </el-col>
        <el-col :span="24" v-else>
            <el-col :span="18">
                <el-form ref="requestForm" :rules="rules" :label-position="labelPosition" :model="requestForm" class="request-leave-form " label-width="120px">
                    <el-col :span="9">
                        <el-form-item label="Leave Type" prop="leave_type_id">
                            <el-select v-model="requestForm.leave_type_id"
                                       clearable
                                       class="leave-type-select"
                                       @change="checkLeaveType"
                                       placeholder="Select Leave Type">
                                <el-option
                                        v-for="item in leave_types"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="15">
                        <el-form-item label="Date Range" prop="date_range">
                            <el-date-picker
                                    v-model="requestForm.date_range"
                                    type="datetimerange"
                                    align="center"
                                    unlink-panels
                                    range-separator="To"
                                    start-placeholder="Start date"
                                    end-placeholder="End date"
                                    class="pull-right"
                                    @change="calculateHours"
                                    format="yyyy-MM-dd hh:mm A"
                                    value-format="yyyy-MM-dd HH:mm:ss">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="9">
                        <el-form-item label="">
                            <label>Total Hours &nbsp;</label>
                            <el-checkbox v-model="requestForm.is_full_shift">Full Shift</el-checkbox>
                            <el-checkbox v-model="requestForm.remove_break_hours" @change="removeBreak">Remove Break Hours</el-checkbox>
                            <el-input v-model="duration_display" placeholder="Total Hours" :readonly="true"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="15">
                        <el-form-item label="Remarks" prop="remarks">
                            <el-input
                                    type="textarea"
                                    :rows="4"
                                    placeholder="Please enter remarks..."
                                    resize="false"
                                    v-model="requestForm.remarks"
                                    required>
                            </el-input>
                            <em v-if="show_undertime_msg" class="text-warning" style="line-height: 20px !important;">{{ undertime_msg }}</em>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-button type="primary"
                                   :loading="submitting"
                                   @click="onSubmit('requestForm')"
                                   class="btn-block submit-button">
                            Submit
                        </el-button>
                    </el-col>
                </el-form>
            </el-col>
            <el-col :span="6"></el-col>
        </el-col>
    </el-row>
</template>

<script>
    import {mapState} from 'vuex'
    import moment from 'moment'

    export default {
        name: 'edit-leave',
        data () {
            return {
                loading: true,
                labelPosition: 'top',
                requestForm: {
                    user_id: '',
                    leave_type_id: '',
                    date_range: '',
                    is_full_shift: false,
                    remove_break_hours: false,
                    duration: '',
                    remarks: ''
                },
                duration_display: '',
                duration_hours: 0,
                duration_mins: 0,
                undertime_msg: 'All undertime request are charged to salary deduction.',
                show_undertime_msg: false,
                rules: {
                    leave_type_id: [
                        { required: true, message: 'Please select leave type', trigger: 'change' }
                    ],
                    date_range: [
                        { required: true, message: 'Please pick a date', trigger: 'click' }
                    ],
                    remarks: [
                        { required: true, message: 'Please add your remarks', trigger: 'blur' }
                    ]
                },
                submitting: false
            }
        },
        beforeCreate() {
            this.$store.dispatch('getLeaveTypes')
            this.$store.dispatch('getLeaveDetail', { id: this.$route.params.id })
        },
        computed: {
            ...mapState({
                leave_types: state => state.leaveType.leave_types,
                leave_request: state => state.leave.leave_request,
                user: state => state.authUser.user
            })
        },
        watch: {
            requestForm: function () {
                if (this.requestForm.leave_type_id === 7) {
                    this.show_undertime_msg = true
                } else {
                    this.show_undertime_msg = false
                }
            },
            leave_request: function () {
                this.loading = false
                console.log(this.leave_request)
                this.requestForm = {
                    id: this.leave_request.id,
                    user_id: this.leave_request.user_id,
                    leave_type_id: this.leave_request.leave_type_id,
                    date_range: [
                        this.leave_request.date_time_from,
                        this.leave_request.date_time_to
                    ],
                    is_full_shift: (this.leave_request.is_full_shift === 1),
                    remove_break_hours: (this.leave_request.remove_break_hours === 1),
                    duration: '',
                    remarks: this.leave_request.remarks
                }
                this.calculateHours()
                this.requestForm.remove_break_hours = (this.leave_request.remove_break_hours === 1)
                this.removeBreak(this.leave_request.remove_break_hours)
            }
        },
        methods: {
            onSubmit(requestForm) {
                this.$refs[requestForm].validate((valid) => {
                    if (valid) {
                        this.submitting = true
                        this.$store.dispatch('postUpdateLeave', this.requestForm)
                            .then((response) => {
                                this.submitting = false
                                this.$router.push({ name: 'leave.pendingLeaves', query: { page: 1 } })

                            })
                            .catch(error => {
                                this.submitting = false
                            })
                    } else {
                        this.submitting = false
                        return false;
                    }
                });
            },
            calculateHours() {
                var start = new moment(this.requestForm.date_range[0])
                var end = new moment (this.requestForm.date_range[1])
                var duration = moment.duration(end.diff(start))
                var hours = duration.hours() + 'h'
                var minutes = (duration.minutes() > 0) ? duration.minutes() + 'm' : ''

                this.duration_display = hours + ' ' + minutes
                this.duration_hours = duration.hours()
                this.duration_mins = duration.minutes()
                this.requestForm.duration = duration.hours() + (duration.minutes() / 60)
                this.requestForm.remove_break_hours = false
            },
            removeBreak(checked) {
                console.log(checked)
                if (this.requestForm.duration !== '') {
                    if (checked) {
                        this.requestForm.duration = this.requestForm.duration - 1
                        this.duration_hours = this.duration_hours - 1
                    } else {
                        this.requestForm.duration = this.requestForm.duration + 1
                        this.duration_hours = this.duration_hours + 1
                    }
                    this.duration_display = this.duration_hours + 'h ' + ((this.duration_mins > 0) ? this.duration_mins + 'm' : '')
                }
            },
            checkLeaveType() {
                if (this.requestForm.leave_type_id === 7) {
                    this.show_undertime_msg = true
                } else {
                    this.show_undertime_msg = false
                }
            }
        }
    }
</script>
<style>
    .leave-type-select {
        width: 100% !important;
    }
    .request-leave-form .el-form-item__label {
        padding: 0 !important;
    }
    .request-leave-form .el-date-editor {
        width: 100% !important;
    }
    .request-leave-form .el-form-item {
        margin-right: 15px !important;
    }
</style>