<template>
    <el-row>
        <el-col :span="24" class="panel panel-default">
            <transition name="fade" mode="out-in">
                <router-view></router-view>
            </transition>
        </el-col>
    </el-row>
</template>

<script>
	export default{
		name: 'leave-credits-wrapper'
	}
</script>
