<template>
    <el-row>
        <el-col :span="24">
            <h1 class="page-header">My Disapproved Requests</h1>
        </el-col>
        <el-col :span="24" v-if="loading">
            <h3 class="text-center"><i class="el-icon-loading"></i> Loading content...</h3>
        </el-col>
        <el-col :span="24" v-else>
            <el-col :span="6" class="leave-requests-filters">
                <el-select v-model="per_page"
                           @change="filterRequests"
                           placeholder="Select">
                    <el-option
                            v-for="item in per_page_options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="8" class="leave-requests-filters">
                <el-date-picker
                        v-model="date_filter"
                        type="daterange"
                        align="right"
                        unlink-panels
                        range-separator="To"
                        start-placeholder="Start date"
                        end-placeholder="End date"
                        :picker-options="pickerOptions"
                        class="pull-right"
                        value-format="yyyy-MM-dd">
                </el-date-picker>
            </el-col>
            <el-col :span="6" class="leave-requests-filters">
                <el-select v-model="leave_type"
                           clearable
                           placeholder="Select Leave Type"
                           class="leave-types-select pull-right">
                    <el-option
                            v-for="item in leave_types"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="4" class="leave-requests-filters">
                <el-button type="primary" @click.prevent="filterRequests" :loading="filtering" class="pull-right">Filter</el-button>
            </el-col>
            <el-table
                    :data="leave_requests"
                    stripe
                    style="width: 100%">
                <el-table-column
                        prop="date_added"
                        label="Date Added">
                </el-table-column>
                <el-table-column
                        prop="leave_type_name"
                        label="Type">
                </el-table-column>
                <el-table-column
                        prop="date_from"
                        label="From">
                </el-table-column>
                <el-table-column
                        prop="date_to"
                        label="To">
                </el-table-column>
                <el-table-column
                        prop="duration"
                        label="Duration">
                </el-table-column>
                <el-table-column
                        prop="remarks"
                        label="Remarks">
                    <template slot-scope="scope">
                        <el-popover
                                placement="bottom"
                                title="Remarks"
                                width="200"
                                trigger="hover">
                            {{ scope.row.remarks }}
                            <span slot="reference">{{ scope.row.remarks }}</span>
                        </el-popover>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Action"
                        width="70">
                    <template slot-scope="scope">
                        <i class="fa fa-pencil"></i>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    background
                    layout="total, prev, pager, next"
                    :total="pagination.total"
                    class="pull-right"
                    @current-change="paginationCurrentChange"
                    :page-size="pagination.per_page"
                    :current-page="pagination.current_page"
                    v-if="pagination.total > pagination.per_page"
            >
            </el-pagination>
        </el-col>
    </el-row>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        name: 'my-disapproved-leaves',
        data () {
            return {
                loading: true,
                date_filter: '',
                pickerOptions: {
                    shortcuts: [{
                        text: 'Last week',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last month',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last 3 months',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                per_page_options: [{
                    value: '10',
                    label: '10'
                }, {
                    value: '25',
                    label: '25'
                }, {
                    value: '50',
                    label: '50'
                }, {
                    value: '100',
                    label: '100'
                }
                ],
                per_page: 10,
                leave_type: '',
                filtering: false
            }
        },
        beforeCreate() {
            this.$store.dispatch('getLeaveRequests', { page: this.$route.query.page, leave_status: 4 })
            this.$store.dispatch('getLeaveTypes')
        },
        computed: {
            ...mapState({
                leave_types: state => state.leaveType.leave_types,
                leave_requests: state => state.leave.leave_requests,
                pagination: state => state.leave.pagination
            })
        },
        watch: {
            leave_requests: function () {
                this.loading = false
                this.filtering = false
            }
        },
        methods: {
            paginationCurrentChange(current) {
                this.$router.push({ path: this.$route.path, query: { page: current } })
                this.$store.dispatch('getLeaveRequests', { page: current, leave_status: 4 })
            },
            filterRequests () {
                this.filtering = true
                var filters = {
                    page: 1,
                    limit: this.per_page,
                    leave_status: 4
                }

                if (this.date_filter !== '') {
                    filters.date_filter = this.date_filter
                }

                if (this.leave_type !== '') {
                    filters.leave_type = this.leave_type
                }

                this.$store.dispatch('getLeaveRequests', filters)
            }
        }
    }
</script>
<style>
    .el-date-editor--daterange.el-input__inner {
        width: 100% !important;
    }
    .leave-requests-filters {
        padding: 10px !important;
    }
    .leave-requests-filters .el-select.leave-types-select {
        width: 100% !important;
    }
    .el-popover__reference {
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
</style>
