<template>
    <el-row>
        <el-col :span="24">
            <h1 class="page-header">My Leave Credits</h1>
        </el-col>
        <el-col :span="24" v-if="loading">
            <h3 class="text-center"><i class="el-icon-loading"></i> Loading content...</h3>
        </el-col>
        <el-col :span="6" class="leave-credits-col" v-else v-for="detail in leave_credits" v-bind:key="detail.id">
            <el-card>
                <div slot="header" class="clearfix">
                    <h4 class="text-center">{{ detail.name }}</h4>
                </div>
                <div>
                    <strong>Available: </strong> <span>{{ (detail.available != 0) ? detail.available : 'N/A'  }}<br></span>
                    <strong>Used: </strong> {{ detail.used }}<br>
                    <strong>Remaining: </strong> <span>{{ (detail.remaining != 0) ? detail.remaining : 'N/A' }}<br></span>
                </div>
            </el-card>
        </el-col>
    </el-row>
</template>

<script>
	import {mapState} from 'vuex'

	export default {
		name: 'my-leave-credits',
        data () {
            return {
                loading: true
            }
        },
		beforeCreate() {
			this.$store.dispatch('getLeaveCredits', {})
		},
		computed: {
			...mapState({
				leave_credits: state => state.leave.leave_credits
			})
		},
        watch: {
            leave_credits: function () {
                this.loading = false
            }
		},
        methods: {
            showAvailableAndRemaining: function(detail) {
                return detail.id === 1 || detail.id === 2;
            }
        }
	}
</script>
<style>
    .leave-credits-col {
        padding: 0 15px 15px 0 !important;
    }
    .leave-credits-col .panel {
        padding: 15px !important;
    }
    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both
    }
</style>