<template>
    <el-row>
        <el-col :span="24">
            <h1 class="page-header">View Profile</h1>
        </el-col>
        <el-col :span="24" v-if="loading">
            <h3 class="text-center"><i class="el-icon-loading"></i> Loading content...</h3>
        </el-col>
        <el-col :span="24" v-else>
            <el-row class="profile-detail-row">
                <el-col :span="8">
                    <strong>ID Number</strong><br>
                    <h4>{{ profile.employee.empid }}</h4>
                </el-col>
                <el-col :span="8">
                    <strong>Name</strong><br>
                    <h4>{{ profile.full_name }}</h4>
                </el-col>
                <el-col :span="8">
                    <strong>Email Address</strong><br>
                    <h4>{{ profile.employee.empemail }}</h4>
                </el-col>
            </el-row>
            <el-row class="profile-detail-row">
                <el-col :span="8">
                    <strong>Permanent Address</strong><br>
                    <h4>{{ profile.employee.emphomeadd }}</h4>
                </el-col>
                <el-col :span="8">
                    <strong>Current Address</strong><br>
                    <h4>{{ profile.employee.emptempadd }}</h4>
                </el-col>
                <el-col :span="8">
                    <strong>Contact Number(s)</strong><br>
                    <h4>{{ profile.employee.emptel }}</h4>
                </el-col>
            </el-row>
            <el-row class="profile-detail-row">
                <el-col :span="8">
                    <strong>Birth Date</strong><br>
                    <h4>{{ profile.employee.empbdate }}</h4>
                </el-col>
                <el-col :span="8">
                    <strong>Birth Place</strong><br>
                    <h4>{{ profile.employee.empbplace }}</h4>
                </el-col>
                <el-col :span="8">
                    <strong>Nationality</strong><br>
                    <h4>{{ profile.employee.empnat }}</h4>
                </el-col>
            </el-row>
            <el-row class="profile-detail-row">
                <el-col :span="8">
                    <strong>Position</strong><br>
                    <h4>{{ profile.employee.emppos }}</h4>
                </el-col>
                <el-col :span="8">
                    <strong>Department</strong><br>
                    <h4>{{ profile.employee.empdept }}</h4>
                </el-col>
                <el-col :span="8">
                    <strong>Supervisor</strong><br>
                    <h4>{{ profile.employee.posidmanager }}</h4>
                </el-col>
            </el-row>
            <el-row class="profile-detail-row">
                <el-col :span="8">
                    <strong>Date Hired</strong><br>
                    <h4>{{ profile.employee.empdatehired }}</h4>
                </el-col>
                <el-col :span="8">
                    <strong>Probationary Period</strong><br>
                    <h4>{{ profile.employee.empdatehired }} - {{ profile.employee.empdateofreg }}</h4>
                </el-col>
                <el-col :span="8">
                    <strong>Regularization Date</strong><br>
                    <h4>{{ profile.employee.empdateofreg }}</h4>
                </el-col>
            </el-row>
            <el-row class="profile-detail-row">
                <el-col :span="8">
                    <strong>Employement Status</strong><br>
                    <h4>{{ profile.employee.empstatus }}</h4>
                </el-col>
                <el-col :span="8">
                    <strong>Resignation Date</strong><br>
                    <h4>{{ profile.employee.empdateofresig }}</h4>
                </el-col>
                <el-col :span="8"></el-col>
            </el-row>
        </el-col>
    </el-row>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        name: 'profile',
        data () {
            return {
                loading: true
            }
        },
        beforeCreate() {
            this.$store.dispatch('getProfile');
        },
        computed: {
            ...mapState({
                profile: state => state.authUser.profile
            })
        },
        watch: {
            profile: function () {
                this.loading = false
            }
        }
    }
</script>
<style>
    .profile-detail-row {
        display: block !important;
        padding: 15px 15px !important;
        margin-bottom: -1px !important;
        border-bottom: 1px solid #e2e1e1 !important;
    }
</style>
