<template>
    <div>
        <div class="pull-left" v-if="paginationData.total > 0">
            <br />
            <span>
                <em>Items {{paginationData.from}} - {{paginationData.to}} of {{paginationData.total}} total</em>
            </span>
        </div>
        <ul class="pagination pull-right" v-if="paginationData.current_page && paginationData.last_page > 0">
            <li class="page-item" v-if="is_active_first_page">
                <router-link :to="{ path: $route.path, query: { page: 1 }}" class="page-link">First</router-link>
            </li>
            <li class="page-item" v-if="paginationData.current_page >= 2 && paginationData.last_page !== 1">
                <router-link :to="{ path: $route.path, query: { page: (paginationData.current_page - 1) }}" class="page-link">Prev</router-link>
            </li>
            <li class="page-item" :class="{'active': (paginationData.current_page === page)}"
                v-for="page in pages"
                v-if="page <= paginationData.last_page"
                :key="page"
            >
                <router-link :to="{ path: $route.path, query: { page: page }}" class="page-link">{{page}}</router-link>
            </li>
            <li class="page-item" v-if="paginationData.current_page != paginationData.last_page && paginationData.last_page !== 1">
                <router-link :to="{ path: $route.path, query: { page: (paginationData.current_page + 1) }}">Next</router-link>
            </li>
            <li class="page-item" v-if="is_active_last_page && paginationData.last_page !== 1">
                <router-link :to="{ path: $route.path, query: { page: paginationData.last_page }}" class="page-link">Last</router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'pagination',
        data () {
            return {
                pages: [],
                current_page: 0,
                is_active_first_page: false,
                is_active_last_page: false
            }
        },
        props: {
            paginationData: {
                type: Object,
                default: 0
            },
            offset: {
                type: Number,
                default: 1
            }
        },
        created () {
            this.init()
        },
        watch: {
            '$route' (to, from) {
                this.init()
            }
        },
        methods: {
            init: function () {
                this.pages = []
                this.current_page = parseInt(this.$route.query.page)
                var firstCount = this.current_page - this.offset
                var lastCount = this.current_page + this.offset

                // generate available pages
                for (var i = firstCount; i <= lastCount; i++) {
                    if (i >= 1) {
                        this.pages.push(i)
                    }
                }

                this.isActiveFirstPage()
                this.isActiveLastPage()
            },
            isActiveFirstPage: function () {
                if (this.pages.indexOf(1) >= 0) {
                    this.is_active_first_page = false
                } else {
                    this.is_active_first_page = true
                }
            },
            isActiveLastPage: function () {
                if (this.pages.indexOf(this.paginationData.last_page) >= 0) {
                    this.is_active_last_page = false
                } else {
                    this.is_active_last_page = true
                }
            }
        }
    }
</script>
